<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href = "/static/vender/bs/css/bootstrap.min.css" rel= "stylesheet"/>
	<script src= "/static/vender/jquery-3.3.1.min.js"></script>
	<script src= "/static/vender/popper.min.js"></script>
	<script src= "/static/vender/bs/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/login/style.css">
  </head>
  <body>
	<body>
		<div class="login-box">
		  <h1>Register</h1>
		  
		  <form enctype="multipart/form-data" method= "post">
			{% csrf_token %}
			<p>
				<p>
					<p><input id="id_username" name="username" placeholder="Username" type="text" class="form-control"></p>
        </p>
        <p>
					<p><input id="id_email" name="email" placeholder="email" type="email" class="form-control"></p>
        </p>
        <p>
					<p><input id="id_password1" name="password1" placeholder="Password" type="password" class="form-control"></p>
				</p>
				<p>
					<p><input id="id_password2" name="password2" 
					placeholder="Confirm Password" type="password" class="form-control"></p>
        </p>
        <h6>Already have a account ? <span><a href="/accounts/login">Login</a></span></h6>
			</p>
			{% if form.errors %}
				<p class="text-danger">
					Your username and password didn't match. 
					Please try again.
				</p>
			{% endif %}
			
      <input class= "btn btn-outline-primary" type="submit"/>
  
	
			</form>
		</div>
		  </body>
</html>
